<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Example Application</title>
  <!-- <meta http-equiv="refresh" content="5; URL=http://sde.opentext.com:8007/bpmeApp/index.html"> -->
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <script src="lib/jquery-2.1.1.min.js"></script>
  <script src="lib/underscore-min.js"></script>
  <script src="lib/backbone-min.js"></script>
  <script src="lib/webtoolkit.base64.js"></script>
  <script src='lib/bootstrap.js'></script>
  <script src="lib/backbone.marionette.min.js"></script>
  <script src="lib/q.js"></script>

  <!-- FOR TESTING -->
  <script src="example_feed.js"></script>


  <!-- STYLESHEETS  -->
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>
  
<!-- BODY -->

  <div class="container site-container">

    <div id="feed-container">
      <input id="create-post-input" type="text" class="form-control" placeholder="I want to announce..." required><br />

      <div id="activity-list"></div>
    </div>
    
  </div>
</body>


<script type="text/template" id="comment-template">
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" height="50" width="50" src=<%= createdBy.imgSrc%> />
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <%= createdBy.name %>
        <span class="feed-date pull-right"><%= createdAt %></span>
      </h4>
      <%= content %>
    </div>
  </div>
</script>


<script type="text/template" id="activity-template">
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" height="75" width="75" src=<%= createdBy.imgSrc %>>
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <%= createdBy.name %>
        <span class="feed-date pull-right"><%= createdAt %></span>
      </h4>
      <%= content %>
      <!-- OPTIONAL COMMENTS -->
      <table class="table">
        <tr>
          <td>
            <a class="show-comment" href="javascript:void(0)">Comment</a>
          </td>
          <td class="delete-activity">
            <a class="delete-activity" href="javascript:void(0)">Delete</a>
          </td>
        </tr>
      </table>
      <span class="show-comment-view">HERE I AM</span>
      <div class="activity-comments-container"></div>
    </div>
    </div>
  </div>
</script>

<!--   <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" height="75" width="75" src=<%= createdBy.imgSrc %>>
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <%= createdBy.name %>
        <center>
        <img src="/otts/gm/document-1.9.303/12305_12567_Yosemite_Valley_md_1.jpg">
      </center>
        <span class="feed-date pull-right feed-date"><%= createdAt %></span>
      </h4>
      <%= description %>
 
      <div class="activity-comments-container"></div>
      <table class="table">
        <tr>
          <td><a>Like</a></td>
          <td><a class="edit-comment">Comment</a></td>
          <td><a>Delete</a></td>
        </tr>
      </table>
        
    </div>
    </div>
  </div>
 -->
<!-- SRC -->
<script src='src/helpers.js'></script>
<script src='src/Storage.js'></script>
<script src="main.js"></script>
<script src="src/Filters.js"></script>
<script src="src/Models.js"></script>
<script src="src/Collections.js"></script>
<script src="src/ItemViews.js"></script>
<script src="src/CollectionViews.js"></script>
