<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Example Application</title>
  <!-- <meta http-equiv="refresh" content="3" /> -->
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <script src="lib/jquery-2.1.1.min.js"></script>
  <script src="lib/underscore-min.js"></script>
  <script src="lib/backbone-min.js"></script>
  <script src="lib/webtoolkit.base64.js"></script>
  <script src='lib/bootstrap.js'></script>
  <script src="lib/backbone.marionette.min.js"></script>
  <script src='scripts/helpers.js'></script>
  <script src='scripts/router.js'></script>

  <!-- FOR TESTING -->
  <script src="example_feed.js"></script>


  <!-- STYLESHEETS  -->
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>

  <div class="container">
    <h1>FEED</h1>
    <!-- Example Comment -->
    <textarea> </textarea>
    <div id="feed-container"></div>
    <div id="activityhere"></div>
  <!--   <div class="activity-comments-container"></div> -->

</body>

<script type="text/template" id="comment-template">
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" height="50" width="50" src=<%= createdBy.icon %>>
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <%= createdBy.name %>
        <span class="feed-date pull-right"><%= createdAt %></span>
      </h4>
      <%= content %>
    </div>
  </div>
</script>

<script type="text/template" id="activity-template">
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" height="75" width="75" src=<%= createdBy.imgSrc %>>
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <%= createdBy.name %>
        <span class="feed-date pull-right"><%= createdAt %></span>
      </h4>
      <%= content %>
      <!-- OPTIONAL COMMENTS -->
      <div class="activity-comments-container"></div>
      <table class="table">
        <tr>
          <td><a>Like</a></td>
          <td><a class="edit-comment">Comment</a></td>
          <td><a>Delete</a></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</script>

<!-- SRC -->
<script src="main.js"></script>
<script src="src/Filters.js"></script>
<script src="src/Models.js"></script>
<script src="src/Collections.js"></script>
<script src="src/ItemViews.js"></script>
<script src="src/CollectionViews.js"></script>
