.row {
  padding-top: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.site-container {
  margin-top: 20px;
}
#feed-container {
  padding: 50px;
  border: 1px darkgray solid;
  background-color: steelblue;
}
.media {
  border: 1px gray dotted;
  padding: 10px;
}
.feed-date {
  color: gray;
  font-size: .60em;
}
#feed-container  * {
  background-color: white;
}
.create-comment-input {
  display: none;
  margin-bottom: 15px;
}