.row {
  /*border: 1px black dotted;*/
  padding-top: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
body {
  background-color: #ddd;
}
.site-container {
  margin-top: 20px;
}
#feed-container {
  padding: 50px;
  border: 1px darkgray solid;
}
.media {
  border: 1px gray dotted;
  padding: 10px;
}
.feed-date {
  color: gray;
  font-size: .50em;
}
#feed-container {
  background-color: #A0CAD8;
}
#feed-container > * {
  background-color: white;
}
.show-comment-view {
  display: none;
}
